@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

header {

    width: auto;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    
}

.title p {

    display: flex;
    justify-content: center;

}

.logo img {

    margin-left: 40px;
    height: 100px;
    width: 100px;
}



.info-Complement {

    margin-right: 40px;
    font-size: 12px;
}

.title-politics {
    font-size: 10px;
}

main {

    height: 100vh;
}

.IngresoElementos {

    display: flex;
    justify-content: center;

}

.DatosIngreso1 label, .DatosIngreso2 label, .DatosIngreso3 label {
    cursor: pointer;
}
.containerDatos {

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: 25px;
    padding: 25px;
    border: 1px solid #0d4577;
    border-radius: 20px;

}

input {
    width: 180px;
}

form {
    padding-bottom: 10px;
    display: grid;
}


.containerObservaciones {

    display:grid;
    margin: 25px;
    border: 1px solid black;
    
}

.containerObservaciones h3 {

    margin-left: 20px;
}

.containerImage, .containerFooter {

    display: flex;
    justify-content: center;

}

.containerObservaciones input {

    width: auto;
    margin: 0px 20px 10px;
}